{% extends 'clothes/otherlist.html' %}

							{% block breadcrumbs %}
							{{block.super}}
								<a href="{% url 'history'%}" class="navigation__li">Личный кабинет
									<span class="navigation__row icon-row"></span>
								</a>
							{% endblock %}

					{% block body %}
					<div class="lk">
						<div class="lk__wrapper">
							<div class="lk__body">
								<div class="lk__active">
									<a href="{% url 'history' %}" class="lk__elem {% block history %} {% endblock history %}">
										<div class="lk__history text-16">История заказов</div>
									</a>
									<a href="{% url 'info' %}" class="lk__elem {% block persons %} {% endblock persons %}">
										<div class="lk__person-info text-16">Личные данные</div>
									</a>
									<a href="{% url 'logout' %}" class="lk__elem">
										<div class="lk__out text-16">Выйти</div>
									</a>
								</div>
								{% block profile %}
								{% endblock profile %}
							</div>
						</div>
					</div>
					{% endblock body %}