{% extends 'clothes/otherlist.html' %}

							{% block breadcrumbs %}
							{{block.super}}
								<a href="{% url 'favorite'%}" class="navigation__li">Избранное
									<span class="navigation__row icon-row"></span>
								</a>
							{% endblock %}

					{% block body %}
					<div class="favorite">
						<div class="favorite__wrapper">
							<div class="favorite__title text-20">Избранное</div>
							<div class="favorite__body main2__products">{% for obj in object_list %}
								<div data-price="{{ obj.parent.price }}" data-like="{{obj.parent.id}}" class="main2__item">
									<a href="{{ obj.parent.get_absolute_url }}" class="main2__img">
										<img src="{{ obj.image.url }}" alt="img">
										<span class="icon-like_n like_add"></span>
									</a>

									<div class="main2__content-text">
										<a href="{{ obj.parent.get_absolute_url }}" class="main2__title text-16">{{ obj.parent.title }}</a>
										<div class="main2__price text-16 _price">{{ obj.f_price }}</div>
										<div class="lds-roller">
											<div></div>
											<div></div>
											<div></div>
											<div></div>
											<div></div>
											<div></div>
											<div></div>
											<div></div>
										</div>
										<div class="main2__size size">
											<ul class="size__list">{% for size in obj.size.title %}
												<li class="size__li text-16">{{ size }}</li> {% endfor %}
											</ul>
										</div>
										<div class="main2__color color">
											<ul class="color__list">{% for color in obj.color.hex %}
													<li class="color__li" style="background: {{ color }}; {% if color == '#ffffff' %}border: 1px solid #252525;{% endif %}"></li> {% endfor %}
											</ul>
										</div>
										<div class="main2__span">{% if obj.parent.tags.all %} {% for t in obj.parent.tags.all %}
											<span class="text-16">{{ t.title }}</span> {% endfor %} {% endif %}
										</div>
									</div>
								</div>{% endfor %}
							</div>
						</div>
					</div>
					{% endblock body %}