{% extends 'clothes/base_profile.html' %}{% load static i18n %}
							{% block history %} _select {% endblock history %}
					{% block profile %}
								<div class="history-lk">
									<div class="history-lk__item">
										<div class="history-lk__head">
											<div class="history-lk__subitem history-lk__info text-16">
												№ 718 от 28.09.21
											</div>
											<div class="history-lk__subitem">
												<div class="history-lk__subsubitem history-lk__title text-16">Статус:</div>
												<div class="history-lk__subsubitem history-lk__value text-16">Выполнен</div>
											</div>
											<div class="history-lk__subitem last">
												<div class="history-lk__subsubitem history-lk__title text-16">Сумма заказа:</div>
												<div class="history-lk__subsubitem history-lk__value text-16">13682 грн</div>
											</div>
											<div class="history-lk__row icon-row"></div>
										</div>
										<div class="history-lk__body">
										</div>
									</div>
									<div class="history-lk__item">
										<div class="history-lk__head">
											<div class="history-lk__subitem history-lk__info text-16">
												№ 235 от 08.03.21
											</div>
											<div class="history-lk__subitem">
												<div class="history-lk__subsubitem history-lk__title text-16">Статус:</div>
												<div class="history-lk__subsubitem history-lk__value text-16">Отменён</div>
											</div>
											<div class="history-lk__subitem last">
												<div class="history-lk__subsubitem history-lk__title text-16">Сумма заказа:</div>
												<div class="history-lk__subsubitem history-lk__value text-16">10282 грн</div>
											</div>
											<div class="history-lk__row icon-row"></div>
										</div>
										<div class="history-lk__body history-items">
											<div class="history-items__body">
												<div class="history-items__item">
													<div href="#" class="history-items__img"><img src="img/01.jpg" alt="img"></div>
													<div class="history-items__info">
														<div class="history-items__part1">
															<div class="history-items__names">
																<div class="history-items__art text-14">арт. 1589956</div>
																<div class="history-items__name text-16">Синяя парка</div>
															</div>
															<div class="history-items__colors">
																<div class="history-items__color"></div>
															</div>
															<div class="history-items__size text-16">Размер:<span>M</span></div>
														</div>
														<div class="history-items__part2">
															<div class="history-items__count text-16">Количество:<span>2</span></div>
															<div class="history-items__price text-16">13200<span>грн</span></div>
														</div>
													</div>
												</div>
											</div>
											<div class="history-lk__contact history-contact">
												<div class="history-contact__body">
													<div class="history-contact__item name ">
														<div class="history-contact__subitem text-16">Имя Фамилия:</div>
														<span class="text-16">Елизаветта Станиславчук</span>
													</div>
													<div class="history-contact__item delivery">
														<div class="history-contact__subitem text-16">Способ доставки:</div>
														<span class="text-16">Доставка Новой Почтой</span>
													</div>
													<div class="history-contact__item mail">
														<div class="history-contact__subitem text-16">E-mail:</div>
														<span class="text-16">ella.s97@gmail.com</span>
													</div>
													<div class="history-contact__item phone">
														<div class="history-contact__subitem text-16">Номер телефона:</div>
														<span class="text-16">+38(067)470 20 66</span>
													</div>
													<div class="history-contact__item pay">
														<div class="history-contact__subitem text-16">Способ оплаты:</div>
														<span class="text-16">Оплата при получении</span>
													</div>
												</div>
											</div>
										</div>

									</div>
									<div class="history-lk__item">
										<div class="history-lk__head">
											<div class="history-lk__subitem history-lk__info history-lk__style">
												№ 328 от 10.07.21
											</div>
											<div class="history-lk__subitem">
												<div class="history-lk__subsubitem history-lk__title history-lk__style">Статус:</div>
												<div class="history-lk__subsubitem history-lk__value history-lk__style">Выполнен</div>
											</div>
											<div class="history-lk__subitem last">
												<div class="history-lk__subsubitem history-lk__title history-lk__style">Сумма заказа:</div>
												<div class="history-lk__subsubitem history-lk__value history-lk__style">4340 грн</div>
											</div>
											<div class="history-lk__row icon-row"></div>
										</div>
										<div class="history-lk__body">
										</div>
									</div>
								</div>
					{% endblock profile %}