{% extends 'clothes/base_profile.html' %}
{% block persons %} _select {% endblock persons %}
					{% block profile %}
								<div class="person-info">
									<form class="person-info__form" method="POST">
										<div class="person-info__item">
											<div class="person-info__title text-16">Персональные данные:</div>
											<div class="person-info__body">
												<div class="person-info__subitem firstname">
													{{ form.first_name }}
												</div>
												<div class="person-info__subitem lastname">
													{{ form.last_name }}
												</div>
												<div class="person-info__subitem mail">
													{{ form.email }}
												</div>
												<div class="person-info__subitem phone">
													{{ form.phone }}
												</div>
											</div>
										</div>
										<div class="person-info__item">
											<div class="person-info__title text-16">Адрес доставки:</div>
											<div class="person-info__body">
												<div class="person-info__subitem address">
													{{ form.city }}
												</div>
												<div class="person-info__subitem home">
													{{ form.post_office }}
												</div>
											</div>
										</div>
										<div class="person-info__button">
											<input class="text-16" type="submit" value="ИЗМЕНИТЬ ИНФОРМАЦИЮ">
										</div>
									</form>
								</div>
					{% endblock profile %}